# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DGM-1610-Spring2021.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\flapj\Desktop\DGM-1610-SPRING2021\DGM-1610-Spring2021\.idea\.idea.DGM-1610-Spring2021.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
